<%- contentFor('body') %>
<div>
    <h1 align="center">Criação de Estudante</h1>
</div>
<div>
    <form action="">
        <button id="submit">Cadastrar novo aluno</button>

        <table border = '1px' align="center">
            <tr>
                <th>NOME DO ALUNO</th>
                <th>DATA DE NASCIMENTO</th>
                <th>MATRÍCULA DO ALUNO</th>
                <th>STATUS DO ALUNO</th>
                <th>E-MAIL DO ALUNO</th>
            </tr>

        </table>

        <div id="buttons">
            <button id="delete">Deletar aluno</button>
            <button id="update">Alterar aluno</button>
        </div>
    </form>
</div>